{%load static %}


<!doctype html>
<html>
    <head>
        <title>{%block title%}{% endblock %}|Wyporzyczalnia</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%block extra_head%}
        
        {%endblock%}
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-700 flex flex-col min-h-screen ">
        <div class="grid grid-cols-12 flex-grow">
            <div class="col-span-1 bg-slate-200 h-min-screen overflow-auto border-r-2 border-gray-700 border-l-2 flex flex-col" >
                
                
                <nav class="text-center flex flex-col">
                    <a href="#" class="text-center text-2xl bg-slate-200 py-4 border-b-2 border-gray-700 hover:bg-gray-400">
                        <img src="{% static 'images/logo.png' %}" alt="logo" class="w-20 h-20 mx-auto my-4">
                    </a>
                    
                    <a href="{% url 'core:home' %}" class="text-center text-xl bg-slate-200 py-4 border-b-2 border-gray-700 hover:bg-gray-400">Home</a>
                    {%if user.is_authenticated %}
                        <a href="#" class="text-center text-xl bg-slate-200 py-4 border-b-2 border-gray-700 hover:bg-gray-400">Profil</a>
                        <a href="#" class="text-center text-xl bg-slate-200 py-4 border-b-2 border-gray-700 hover:bg-gray-400">Wyloguj</a>
                    {%else%}
                        <a href="#" class="text-center text-xl bg-slate-200 py-4 border-b-2 border-gray-700 hover:bg-gray-400">Zaloguj</a>
                        <a href="#" class="text-center text-xl bg-slate-200 py-4 border-b-2 border-gray-700 hover:bg-gray-400">Zarejestruj</a>
                    {%endif%}
                </nav> 
                
                
                
                {%block sidebar%}
    
                {%endblock%}
            </div>
            <div class="col-span-11 bg-slate-100 h-min-screen overflow-auto border-r-2 border-gray-700">
                {%block content%}
                {%endblock%}    
            </div>
        </div>
        <footer class="col-span-7 text-center text-2xl bg-slate-200 py-4 border-t-2 border-gray-700 mt-auto">
            <div class="font-serif">
                &copy; Wypożyczalnia gier planszowych
            </div>
        </footer>
    </body>
</html>