{% extends 'core/base.html' %}
{% block title %}Strona główna{% endblock %}


{% block sidebar %}
    
{% endblock sidebar %}
    




{% block content %}



    <div class="flex mx-20 mt-10  rounded-xl justify-center bg-slate-200 flex-col items-center">
        <div>
            <h1 class="text-3xl font-bold my-3 mt-5">{{ event.title|capfirst }}</h1>
        </div>
    </div>
    
    <form action="" method="post" class="flex flex-col justify-center bg-slate-200 mt-10 mx-64 rounded-md">
        {% csrf_token %}
        <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
            <span class="w-3/4">{{form.query}}</span>
            <span><button type="submit" class="bg-gray-700 hover:bg-gray-800 text-white font-bold py-3 px-4 rounded-full">Wyszukaj</button></span>
        </div>
    
            
    </form>

    <div class="flex flex-col justify-center bg-slate-200 mt-2 mx-72">
        {% for game in top_games %}
            <a href="" class="flex justify-between py-4 mx-5 border-b-2 border-gray-400">
                <span class="text-2xl">{{game.title|capfirst}}</span>
                <span>Ilość sztuk: {{game.accessible}}/{{game.quantity}}</span>
            </a>
        {% endfor %}
    </div>

    <form method="get" action="{% url 'core:event_detail' event.id %}" class="flex justify-center  mt-2 mx-72"">
        <input name="iterator" type="hidden" value="{{ iterator }}">
        
        {% if iterator > 0 %}
            <button type="submit" name="action" value="decrement" class="mt-2 px-8 py-4 bg-red-500 text-white rounded-xl inline-block"><--</button>
        {% endif %}
        <h1 class="mt-2 px-8 py-4 bg-gray-500 text-white rounded-xl inline-block">{{iterator}}</h1>  
        {% if iterator < max_iterator %}
            <button type="submit" name="action" value="increment" class="mt-2 px-8 py-4 bg-green-500 text-white rounded-xl inline-block">--></button>
        {% endif %}
    </form>
    
    <div class="fixed bottom-[80px] right-3 mb-4 mr-4">
        <a href="{% url 'games:add_game' event.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-6 rounded-full">
            Dodaj Grę
        </a>
    </div>
        


    
{% endblock %}