{% extends 'core/base.html' %}
{% block title %}Strona główna{% endblock %}


{% block sidebar %}
    
{% endblock sidebar %}
    




{% block content %}



    <div class="flex mx-20 mt-10  rounded-xl justify-center bg-slate-200 flex-col items-center">
        <div>
            <h1 class="text-3xl font-bold my-3 mt-5">{{ game.title|capfirst }}</h1>
        </div>
    </div>
    
    {% if game.accessible > 0 %}
        
    
        
    <div class="flex flex-col justify-center bg-slate-200 my-4 mb-8 mx-72">
        <h1 class="text-3xl text-center mt-4">Edytuj grę</h1>
        <form method="post" class="flex flex-col justify-center bg-slate-200 mt-10 mx-48 rounded-md">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="rental" />
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Kod kreskowy Wypożyczającego:</span>
                <span class="w-3/4">{{rental_form.barcode}}</span>
            </div>
            <button type="submit" class="bg-gray-700 hover:bg-gray-800 text-white font-bold my-5 py-3 px-4 rounded-full">Wypożycz</button>
        </form>
    </div>
    {% endif %}
    {% if list_of_renters %}   
        <div class="flex flex-col justify-center bg-slate-200 my-4 mb-8 mx-72">
            <h1 class="text-3xl text-center mt-4">Wypożyczenia:</h1>
            <div class="flex flex-col justify-center bg-slate-200 mt-10 mx-48 rounded-md">
                {% for renter in list_of_renters %}
                    
                    <form method="post" class="flex justify-between items-center py-4 mx-5 border-b-2 border-gray-400">
                        <span class="text-xl">Wypożyczający:</span>
                        <span class="text-2xl"> {{ renter.barcode}}</span> 
                        {% csrf_token %}
                        <input type="hidden" name="renter_id" value="{{ renter.id }}">
                        <span class="text-xl">{{rating_form.rating}}</span>
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                            Oddaj
                        </button>
                    </form>

            {% endfor %}
                </div>
        </div>
    {% endif %}
    
    <div class="flex flex-col justify-center bg-slate-200 my-4 mx-72">
        <h1 class="text-3xl text-center mt-4">Edytuj grę</h1>
        <form method="post" class="flex flex-col justify-center bg-slate-200 mt-10 mx-48 rounded-md">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit_game" />
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Kod kreskowy:</span>
                <span class="w-3/4">{{form.barcode}}</span>
            </div>
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Tytuł:</span>
                <span class="w-3/4">{{form.title}}</span>
            </div>
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Dystrybutor:</span>
                <span class="w-3/4">{{form.distributor}}</span>
            </div>
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Dostępnych/w Systemie:</span>
                <span class="">{{form.accessible}}</span>
                <span class="">{{form.quantity}}</span> 
            </div>
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Opis:</span>
                <span class="w-3/4">{{form.description}}</span>
            </div>
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Obraz:</span>
                <span class="w-3/4">{{form.image}}</span>
            </div>
            <div class="flex justify-between py-4 mx-5 border-b-2 border-gray-400" >
                <span class="text-xl">Top:</span>
                <span class="w-3/4">{{form.top}}</span>
            </div>
            <button type="submit" class="bg-gray-700 hover:bg-gray-800 text-white font-bold my-5 py-3 px-4 rounded-full">Dodaj</button>
        </div>
{% endblock content %}